body {
  background: rgba(159, 159, 159, 0.877);
}
p {
  font-family:sans-serif;
  color:black;
  font-size: 18px;
}
h1 {text-align: center;
    font-family: monospace;
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 2px 2px grey;
    background: #000000;
    border-radius: 25px;
   padding: 20px;
  width:auto;
  height: 75px;
}
ol {color: aliceblue;
  font-family: monospace;
  font-size: 20px;
}
.container {
  display: flex;
}
div{ 
    justify-content: center;
}
img{
    width: 20%;
    height: auto;
}
a{ 
    font-family: monospace;
    font-size: 18px;
    color:black;
    justify-content: center;
    }
#logo {width: 5%;
  height: auto;
  display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  