html,
body "style2.css" { margin: 0;
}
.banner {
   background: Black;
    border-radius: 25px;
   padding: 20px;
  width: auto;
  height: 75px;
}
.banner__content{
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.banner__text {
    font-family: monospace;
    font-weight: bold;
    text-shadow: 2px 2px grey;
    font-size: 35px;
    flex-grow: 1;
    line-height: 1.4;
    font-family: 'Quicksand'
, sans-serif;
}
.banner__close { 
    background: none;
    border: none;
    cursor: pointer;
}
    .banner__text,
.banner__close > span { color:whitesmoke; }