body {
  background: rgba(159, 159, 159, 0.877);
  margin: 0;
}
p {
  font-family:sans-serif;
  color:black;
  font-size: 18px;
}
h1 {text-align: center;
    font-family: monospace;
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 2px 2px grey;
    background: #000000;
    border-radius: 25px;
   padding: 20px;
  width:auto;
  height: 75px;
}
ol {color: aliceblue;
  font-family: monospace;
  font-size: 20px;
}
.container {
  display: flex;
}
div{ 
    justify-content: center;
}
img{
    width: 20%;
    height: auto;
}
a{ 
    font-family: monospace;
    font-size: 18px;
    color:black;
    justify-content: center;
    }
#logo {width: 5%;
  height: auto;
  display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .banner {
    background: Black;
     border-radius: 25px;
    padding: 20px;
   width: auto;
   height: 75px;
 }
 .banner__content{
     padding: 16px;
     max-width: 500px;
     margin: 0 auto;
     display: flex;
     align-items: center;
 }
 .banner__text {
     font-family: monospace;
     font-weight: bold;
     text-shadow: 2px 2px grey;
     font-size: 35px;
     flex-grow: 1;
     line-height: 1.4;
     font-family: 'Quicksand'
 , sans-serif;
 }
 .banner__close { 
     background: none;
     border: none;
     cursor: pointer;
 }
     .banner__text,
 .banner__close > span { color:whitesmoke; } 